<body class="mat-app-background mat-typography body-fill">
    <mat-toolbar class="mat-primary navbar">
        <div>
            <span>Zdravo {{user.name}}! </span>
        </div>
        <div>
            <button mat-raised-button (click)="home()">
                Glavna strana<mat-icon>home</mat-icon>
            </button> &nbsp;&nbsp;&nbsp;
            <button mat-raised-button (click)="logout()">
                Odjavi se<mat-icon>logout</mat-icon>
            </button> &nbsp;&nbsp;&nbsp;
            <a routerLink="/profile">
                <img src="../../assets/images/{{user.img}}" width="40" height="40">
            </a>
        </div>
    </mat-toolbar>
    <div class="basicCenter">
        <mat-form-field class="setPadd" appearance="fill">
            <mat-label>Stara sifra</mat-label>
            <input matInput type="password" #oldPass="ngModel" name="oldPass" [(ngModel)]="oldPassReg" required>
            <mat-hint *ngIf="(oldPass.valid && oldPassReg==user.password) || !oldPass.touched">Unesite Vašu staru
                lozinku {{user.password}}</mat-hint>
            <mat-hint *ngIf="(oldPass.invalid || oldPassReg!=user.password) && oldPass.touched" style="color: red">
                OBAVEZNO POLJE ili neispravno
                uneti podaci</mat-hint>
        </mat-form-field>
    </div>
    <br />
    <br />
    <div class="basicCenter">

        <mat-form-field class="setPadd" appearance="fill">
            <mat-label>Nova sifra</mat-label>
            <input matInput type="password" #newPass="ngModel" name="newPass" [(ngModel)]="newPassReg"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" required>
            <mat-hint *ngIf="newPass.valid || !newPass.touched">Unesite novu lozinku. Lozinka mora da sadrži veliko
                slovo, broj i jedan specijalni karakter</mat-hint>
            <mat-hint *ngIf="newPass.invalid && newPass.touched" style="color: red">OBAVEZNO POLJE ili neispravno
                uneti podaci</mat-hint>
        </mat-form-field>
    </div>
    <br />
    <br />
    <br />
    <div class="basicCenter">
        <mat-form-field class="setPadd" appearance="fill">
            <mat-label>Nova sifra</mat-label>
            <input matInput type="password" #newPass2="ngModel" name="newPass2" [(ngModel)]="newPass2Reg"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" required>
            <mat-hint *ngIf="(newPass2.valid || !newPass2.touched)&& (newPassReg==newPass2Reg)">Ponovo unesite
                željenu lozinku</mat-hint>
            <mat-hint *ngIf="newPass2.invalid && newPass2.touched" style="color: red">OBAVEZNO POLJE ili neispravno
                uneti podaci</mat-hint>
            <mat-hint *ngIf="newPassReg!=newPass2Reg" style="color: red">Lozinke se ne poklapaju!</mat-hint>
        </mat-form-field>
    </div>
    <br />
    <br />
    <div class="basicCenter">
        <button [disabled]="newPass.invalid || oldPass.invalid || newPass2.invalid" mat-raised-button color="primary"
            (click)="changePass()">Promeni lozinku</button>
    </div>

</body>